<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>User Id</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @users %>
      <% @users.each do |user| %>
          <tr>
              <td><%= user.id %></td>
              <td><%= user.email %></td>
              <td><%= role(user) %></td>
              <td><%= link_to 'Edit', edit_user_path(user.id), class: "btn btn-primary" %>
          </tr> 
      <%end%>
    </tbody>
</table>