<%= link_to 'New Hotel', new_hotel_path, class: "btn btn-dark mx-auto" %><br /><br />

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @adminhotel%>
    <% @adminhotel.each do |hotel| %>
        <tr>
          <td><%= link_to hotel.name, hotel %></td>
          <td><%= hotel.phone %></td>
          <td><%= hotel.email %></td>
        </tr> 
    <%end%>
  </tbody>
</table>